# Ignore node_modules directory inside cbdc_backend
cbdc_backend/node_modules/

# Ignore log files inside cbdc_backend
*.log

# Ignore environment variable files inside cbdc_backend
.cbdc_backend/.env

# Ignore build directories inside cbdc_backend
cbdc_backend/dist/
cbdc_backend/build/

# Ignore temporary files inside cbdc_backend
*.tmp
*.swp

# Ignore IDE specific files inside cbdc_backend
cbdc_backend/.vscode/
cbdc_backend/.idea/

# Ignore wallet directory inside api folder within cbdc_backend
cbdc_backend/api/wallet/
